/* src/App.css */
.app-container {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #1976d2;
}

a:hover {
  text-decoration: underline;
}
